# Copy this file to `.env`

# Insert your BOT_TOKEN here
BOT_TOKEN=<your bot token here>

# Support/ticket channel
SUPPORT_TICKET_CHANNEL_ID=<discord channel id>

# gm channel
GM_CHANNEL_ID=<discord channel id>

# display notifications
PLOT_NOTIFICATION_CHANNEL_ID=<discord channel id>

# bot notification channel
PLOT_CHANNEL_ID=<discord channel id>

# base role that all users are assigned (unprivileged)
BASE_ROLE_ID=<discord base role id>

# bot client id (app id). primary used to register slash commands
CLIENT_ID=<discord client id>